/** @format */

.chatRooms_container {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	width: 100%;
	min-height: 517px;
	max-height: 517px;
	overflow-y: auto;
	overflow-x: hidden;
	border-right: 1px solid lightgray;
}
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: lightgray;
}
