/** @format */

.footer_container {
	background-color: #ededed;
	height: 40px;
	padding: 10px;
	display: flex;
	flex-direction: row;
}

.footer_options {
	display: flex;
	align-items: center;
}

.footer_message_input {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.footer_message_input {
	background-color: #fff;
	width: 100%;
	border-radius: 20px;
}

.footer_message_input > input {
	background-color: #fff;
	width: 100%;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	border: none;
}

.footer_message_input > button {
	display: none;
}
